ShopLaptop/WindowsFormsApplication/Service References/ServiceReferenceShopLaptop/ServiceShopLaptop2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSanPham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SanPham" nillable="true" type="tns:SanPham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSanPham" nillable="true" type="tns:ArrayOfSanPham" />
  <xs:complexType name="SanPham">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HDD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoaiSP" nillable="true" type="tns:LoaiSP" />
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VGA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="baohanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="battery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chitiet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="hinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tensp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wireless" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SanPham" nillable="true" type="tns:SanPham" />
  <xs:complexType name="LoaiSP">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="maloai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenloai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoaiSP" nillable="true" type="tns:LoaiSP" />
  <xs:complexType name="ArrayOfLoaiSP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoaiSP" nillable="true" type="tns:LoaiSP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoaiSP" nillable="true" type="tns:ArrayOfLoaiSP" />
  <xs:complexType name="ArrayOfKhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhachHang" nillable="true" type="tns:KhachHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhachHang" nillable="true" type="tns:ArrayOfKhachHang" />
  <xs:complexType name="KhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hoten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="namsinh" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quyenhan" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="sodienthoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHang" nillable="true" type="tns:KhachHang" />
  <xs:complexType name="ArrayOfHoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDon" nillable="true" type="tns:HoaDon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDon" nillable="true" type="tns:ArrayOfHoaDon" />
  <xs:complexType name="HoaDon">
    <xs:sequence>
      <xs:element minOccurs="0" name="KhachHang" nillable="true" type="tns:KhachHang" />
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaylap" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ngaythanhtoan" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="trangthai" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDon" nillable="true" type="tns:HoaDon" />
  <xs:complexType name="ArrayOfChitietHD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChitietHD" nillable="true" type="tns:ChitietHD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChitietHD" nillable="true" type="tns:ArrayOfChitietHD" />
  <xs:complexType name="ChitietHD">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoaDon" nillable="true" type="tns:HoaDon" />
      <xs:element minOccurs="0" name="gia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mahd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="thanhtien" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChitietHD" nillable="true" type="tns:ChitietHD" />
  <xs:complexType name="ArrayOfPhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhieuNhap" nillable="true" type="tns:ArrayOfPhieuNhap" />
  <xs:complexType name="PhieuNhap">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
  <xs:complexType name="ArrayOfKho">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kho" nillable="true" type="tns:Kho" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKho" nillable="true" type="tns:ArrayOfKho" />
  <xs:complexType name="Kho">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kho" nillable="true" type="tns:Kho" />
  <xs:complexType name="ArrayOfChitietPN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChitietPN" nillable="true" type="tns:ChitietPN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChitietPN" nillable="true" type="tns:ArrayOfChitietPN" />
  <xs:complexType name="ChitietPN">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhieuNhap" nillable="true" type="tns:PhieuNhap" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mapn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soluong" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChitietPN" nillable="true" type="tns:ChitietPN" />
</xs:schema>